In [45]:
import pandas as pd
from datetime import datetime

## Load the data

In [46]:
data_path = "DATA/"
vex_boundary_df = pd.read_csv(data_path+"VEX-ICME-boundaries.csv")

## Dates of CME

CME = coronal mass ejection

start time = start of discontinuity

end time = end of flux rope (FR)

QUESTION : Are these the right start/end indicators ?

In [47]:
# get the start and end date of a forbush event

# temporary fix of the bug until I find a prettier way (this is rdm and idk why it does not work without it)
vex_boundary_df['start_time'] = vex_boundary_df.apply(lambda t: pd.to_datetime((float(str(t.DiscontinuityDOY)))), axis=1)

def get_datetime_from_dec(doy, year):
    # make a timestamp because the data is not in a known format to do smt pretty
    return pd.to_datetime((float(str(doy)) - 1) * 24 * 3600, origin=datetime.strptime(str(year), '%Y'), unit='s')

vex_boundary_df['start_time'] = vex_boundary_df.apply(lambda t: get_datetime_from_dec(t.DiscontinuityDOY, t.Year), axis=1)
vex_boundary_df['end_time'] = vex_boundary_df.apply(lambda t: get_datetime_from_dec(t.MCendDOY, t.Year), axis=1)

display(vex_boundary_df)

,Year,DiscontinuityDOY,MCstartDOY,MCendDOY,FRstartDOY,FRendDOY,rH,start_time,end_time
0,2007,44.200,44.6113,45.3981,44.6113,45.3981,0.725,2007-02-13 04:48:00.000,2007-02-14 09:33:15.840
1,2007,117.010,117.3700,117.6740,117.3700,117.6740,0.719,2007-04-27 00:14:24.000,2007-04-27 16:10:33.600
2,2007,126.030,126.3500,126.8700,126.3500,126.8700,0.719,2007-05-06 00:43:12.000,2007-05-06 20:52:48.000
3,2007,144.800,145.1500,145.8330,145.1500,145.8330,0.721,2007-05-24 19:12:00.000,2007-05-25 19:59:31.200
4,2007,167.094,167.0940,167.7200,167.0940,167.7200,0.724,2007-06-16 02:15:21.600,2007-06-16 17:16:48.000
...,...,...,...,...,...,...,...,...,...
62,2013,201.421,201.8820,202.7410,201.8820,202.7410,0.721,2013-07-20 10:06:14.400,2013-07-21 17:47:02.400
63,2013,261.487,261.4870,261.9390,261.4870,261.9390,0.728,2013-09-18 11:41:16.800,2013-09-18 22:32:09.600
64,2013,278.179,278.5230,279.6240,278.5230,279.6240,0.728,2013-10-05 04:17:45.600,2013-10-06 14:58:33.600
65,2013,334.188,334.5830,335.6670,334.5830,335.6670,0.723,2013-11-30 04:30:43.200,2013-12-01 16:00:28.800
66,2013,348.130,348.6060,348.9860,348.6060,348.6060,0.721,2013-12-14 03:07:12.000,2013-12-14 23:39:50.400

In [48]:
columns_to_keep = ['start_time', 'end_time']

# Drop columns not in the list
vex_boundary_df = vex_boundary_df.drop(columns=vex_boundary_df.columns.difference(columns_to_keep))

We export our dataset as CSV :

In [49]:
csv_file_path = data_path + "CME_date_time.csv"
vex_boundary_df.to_csv(csv_file_path, index=False)