In [1]:
# data processing
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta

# plotting
import seaborn as sns
import matplotlib.pyplot as plt

# regression / matching
import statsmodels.formula.api as smf

## Load the data : EDAC and magneto

In [2]:
data_path = "DATA/"

vex_df = pd.read_csv(data_path+"VENUS_EXPRESS/VEX_NDMW0D0A_2023_01_11_12_55_55.900.txt", sep='\t')
mag_df = pd.read_csv(data_path+"VEX_MAGNETO/VEX-V-Y-MAG-4.csv")

We calculate the counts per day and remove the resetting of the counter at 0 for EDAC:

In [3]:
#vex_df['DATE_TIME'] = vex_df.DATE_TIME.apply(lambda d: datetime.strptime(d, '%Y-%m-%d %H:%M:%S.%f')) #takes more time for the graphs to show
vex_df['EDAC'] = vex_df['NDMW0D0A'].diff().bfill().astype(int).map(lambda x: max(0, x))
vex_df.drop('NDMW0D0A', axis=1, inplace=True)

In [4]:
vex_df.head()

                 DATE_TIME  EDAC
0  2005-11-09 00:09:04.575     0
1  2005-11-09 00:10:08.575     0
2  2005-11-09 00:11:12.576     0
3  2005-11-09 00:12:16.576     0
4  2005-11-09 00:13:20.577     0

In [5]:
mag_df.head()

,date,BX,BY,BZ,BT,XSC,YSC,ZSC,RSC
0,2006-04-24 00:00:00,12.357658,-1.304164,-3.332425,12.881274,-4451.055178,-3196.485753,-65466.762260,65695.760575
1,2006-04-24 00:05:00,12.868947,-0.980800,-3.360027,13.340680,-4202.246280,-3138.377907,-65806.350827,66015.078600
2,2006-04-24 00:10:00,12.857438,-0.871986,-3.487877,13.355384,-3954.000329,-3080.233288,-66137.913808,66327.612616
3,2006-04-24 00:15:00,12.898635,-0.684986,-2.885689,13.248405,-3705.057257,-3021.761270,-66463.291041,66635.079608
4,2006-04-24 00:20:00,12.766473,-0.517608,-2.217135,12.972905,-3453.676541,-2962.553108,-66784.717784,66939.596338

## Grouping by 5 minutes and merge

In [6]:
# Convert the 'DATE_TIME' column in vex_df to datetime and set as index
vex_df['DATE_TIME'] = pd.to_datetime(vex_df['DATE_TIME'])
vex_df.set_index('DATE_TIME', inplace=True)

# Resample and take the mean for each 5-minute period
vex_df_resampled = vex_df.resample('5T').sum()

# Reset the index so 'DATE_TIME' becomes a column again
vex_df_resampled.reset_index(inplace=True)

# For mag_df, ensure the 'date' column is in datetime format and set as index
mag_df['date'] = pd.to_datetime(mag_df['date'])
mag_df.set_index('date', inplace=True)

In [7]:
vex_df_resampled.head()

            DATE_TIME  EDAC
0 2005-11-09 00:05:00     0
1 2005-11-09 00:10:00     0
2 2005-11-09 00:15:00     0
3 2005-11-09 00:20:00     0
4 2005-11-09 00:25:00     0

In [8]:
# Now, join the two dataframes on their datetime indices
df = pd.merge_asof(vex_df_resampled, mag_df, left_on='DATE_TIME', right_index=True)

In [10]:
# Drop the rows with NaNs
df.dropna(inplace=True)

In [22]:
df.head()

,DATE_TIME,EDAC,BX,BY,BZ,BT,XSC,YSC,ZSC,RSC,cme
47807,2006-04-24 00:00:00,0,12.357658,-1.304164,-3.332425,12.881274,-4451.055178,-3196.485753,-65466.762260,65695.760575,0
47808,2006-04-24 00:05:00,0,12.868947,-0.980800,-3.360027,13.340680,-4202.246280,-3138.377907,-65806.350827,66015.078600,0
47809,2006-04-24 00:10:00,0,12.857438,-0.871986,-3.487877,13.355384,-3954.000329,-3080.233288,-66137.913808,66327.612616,0
47810,2006-04-24 00:15:00,0,12.898635,-0.684986,-2.885689,13.248405,-3705.057257,-3021.761270,-66463.291041,66635.079608,0
47811,2006-04-24 00:20:00,0,12.766473,-0.517608,-2.217135,12.972905,-3453.676541,-2962.553108,-66784.717784,66939.596338,0

## Old : grouping by hour
Since the magneto data is grouped by hour, we aggregate the EDAC data by hour too:

In [10]:
# first we group byhour:
vex_df['DATE_TIME'] = pd.to_datetime(vex_df['DATE_TIME'])
hourly_grouped = vex_df.groupby(pd.Grouper(key='DATE_TIME', freq='H'))

In [6]:
# sanity check:
first_group = hourly_grouped.get_group(list(hourly_grouped.groups.keys())[0])
print(first_group)

                 DATE_TIME  EDAC
0  2005-11-09 00:09:04.575     0
1  2005-11-09 00:10:08.575     0
2  2005-11-09 00:11:12.576     0
3  2005-11-09 00:12:16.576     0
4  2005-11-09 00:13:20.577     0
5  2005-11-09 00:14:24.577     0
6  2005-11-09 00:15:28.577     0
7  2005-11-09 00:16:32.578     0
8  2005-11-09 00:17:36.578     0
9  2005-11-09 00:18:40.579     0
10 2005-11-09 00:19:44.579     0
11 2005-11-09 00:20:48.579     0
12 2005-11-09 00:21:52.580     0
13 2005-11-09 00:22:56.580     0
14 2005-11-09 00:24:00.581     0
15 2005-11-09 00:25:04.581     0
16 2005-11-09 00:26:08.581     0
17 2005-11-09 00:27:12.582     0
18 2005-11-09 00:28:16.582     0
19 2005-11-09 00:29:20.583     0
20 2005-11-09 00:30:24.583     0
21 2005-11-09 00:31:28.583     0
22 2005-11-09 00:32:32.584     0
23 2005-11-09 00:33:36.584     0
24 2005-11-09 00:34:40.585     0
25 2005-11-09 00:35:44.585     0
26 2005-11-09 00:36:48.585     0
27 2005-11-09 00:37:52.586     0
28 2005-11-09 00:38:56.586     0
29 2005-11-09 00:40:00.587     0
30 2005-11-09 00:41:04.587     0
31 2005-11-09 00:42:08.587     0
32 2005-11-09 00:43:12.588     0
33 2005-11-09 00:44:16.588     0
34 2005-11-09 00:45:20.589     0
35 2005-11-09 00:46:24.589     0
36 2005-11-09 00:47:28.589     0
37 2005-11-09 00:48:32.590     0
38 2005-11-09 00:49:36.590     0
39 2005-11-09 00:50:40.591     0
40 2005-11-09 00:51:44.591     0
41 2005-11-09 00:52:48.591     0
42 2005-11-09 00:53:52.592     0
43 2005-11-09 00:54:56.592     0
44 2005-11-09 00:56:00.593     0
45 2005-11-09 00:57:04.593     0
46 2005-11-09 00:58:08.593     0
47 2005-11-09 00:59:12.594     0

In [7]:
# then we agregate the groups:
df = hourly_grouped.agg({'DATE_TIME': lambda x: x.dt.round('H').min(),
                                    'EDAC': 'sum'})

In [8]:
# we drop lines containing NaNs, then check that no Nans are left in our dataframe:
df.dropna(inplace=True)

has_nan = df.isna().any().any()
print(has_nan)

False

In [9]:
# sanity check:
df.head()

                              DATE_TIME  EDAC
DATE_TIME
2005-11-09 00:00:00 2005-11-09 00:00:00     0
2005-11-09 01:00:00 2005-11-09 01:00:00     0
2005-11-09 02:00:00 2005-11-09 02:00:00     0
2005-11-09 03:00:00 2005-11-09 03:00:00     0
2005-11-09 05:00:00 2005-11-09 05:00:00     1

## Adding CME labels
Now let's add the events of CME :

In [16]:
vex_cme_df = pd.read_csv(data_path+"VENUS_EXPRESS/VEX_CME_date_time.csv")
df['cme'] = 0

In [20]:
vex_cme_df.start_time = pd.to_datetime(vex_cme_df.start_time)
vex_cme_df.end_time = pd.to_datetime(vex_cme_df.end_time)

In [24]:
for index, row in vex_cme_df.iterrows():
    start_time = row['start_time'].round('5T')
    end_time = row['end_time'].round('5T')
    
    # Set 'cme' column values to 1 between start_time and end_time
    df.loc[(df.DATE_TIME >= start_time) & (df.DATE_TIME <= end_time), 'cme'] = 1

In [25]:
# sanity check:
df.head()

,DATE_TIME,EDAC,BX,BY,BZ,BT,XSC,YSC,ZSC,RSC,cme
47807,2006-04-24 00:00:00,0,12.357658,-1.304164,-3.332425,12.881274,-4451.055178,-3196.485753,-65466.762260,65695.760575,0
47808,2006-04-24 00:05:00,0,12.868947,-0.980800,-3.360027,13.340680,-4202.246280,-3138.377907,-65806.350827,66015.078600,0
47809,2006-04-24 00:10:00,0,12.857438,-0.871986,-3.487877,13.355384,-3954.000329,-3080.233288,-66137.913808,66327.612616,0
47810,2006-04-24 00:15:00,0,12.898635,-0.684986,-2.885689,13.248405,-3705.057257,-3021.761270,-66463.291041,66635.079608,0
47811,2006-04-24 00:20:00,0,12.766473,-0.517608,-2.217135,12.972905,-3453.676541,-2962.553108,-66784.717784,66939.596338,0

In [26]:
cme_count = df[df['cme'] == 1].shape[0]
print(f"Number of rows where cme is equal to 1: {cme_count}")

Number of rows where cme is equal to 1: 15939

##### Parenthesis : class imbalance
Let's have a look at the proportion of CME events: we see that only 1.8% of our data corresponds to a CME.

Since we have this huge class imbalance, we can expect the models we will train to be biased towards predicting no CMEs.
We will have to implement various methods to mitigate this class imbalance.

In [27]:
cme_count = df[df['cme'] == 1].shape[0]
total_count = len(df)
percentage = (cme_count / total_count) * 100

print(f"CME count: {cme_count}")
print(f"Total count: {total_count}")
print(f"Percentage of CME events: {percentage:.2f}%")

CME count: 15939
Total count: 893069
Percentage of CME events: 1.78%

End of parenthesis, back to our dataframe:

We save this data in a first csv that we will use to train our models (predict CME events based on EDAC):

In [29]:
train_file_path = "DATA/training_data/"
df.to_csv(train_file_path+'VEX_edac_mag_labeled.csv', index=False)

## Old : Adding magneto data
Now let's add the magneto data to a second dataframe (to assess the performance of our predictor: we will see how much gap in performance we have if we predict CME events based on EDAC and magneto data):

In [15]:
# Load magneto data
magneto_path = "DATA/VEX_MAGNETO/VEX-V-Y-MAG-4.csv"
magneto_df = pd.read_csv(magneto_path)

In [16]:
# we also set the date as index to merge it with our EDAC dataframe
magneto_df.rename(columns={'date': 'DATE_TIME'}, inplace=True)
magneto_df.set_index('DATE_TIME', inplace=True)

# we convert the index to datetime to be able to merge it with our EDAC dataframe
magneto_df.index = pd.to_datetime(magneto_df.index)

In [17]:
# sanity check:

print("magneto_df index type:", magneto_df.index.dtype)
print("df index type:", df.index.dtype)

magneto_df index type: datetime64[ns]
hourly_vex_df index type: datetime64[ns]

In [18]:
magneto_df.head()

,BX,BY,BZ,BT,XSC,YSC,ZSC,RSC
DATE_TIME,,,,,,,,
2006-04-24 00:00:00,901.170761,887.078621,886.592311,901.582144,-3076.407309,-2872.475157,-67213.437339,67351.778022
2006-04-24 01:00:00,122.866044,107.284161,109.654450,123.584061,-56.789406,-2147.243992,-70446.888658,70485.459712
2006-04-24 02:00:00,230.881530,218.765052,216.810378,234.327848,2966.294489,-1402.796963,-72831.017578,72910.164160
2006-04-24 03:00:00,451.576201,437.057761,440.662270,455.704559,5959.518042,-649.828442,-74422.302150,74668.263456
2006-04-24 04:00:00,560.491882,547.190941,554.806417,566.054039,8894.553522,103.003431,-75259.615454,75788.153991

We merge this data with our first dataframe of ENACs and CMEs.

We will have many NaNs because the magneto data covers a shorter time span than the EDAC data : we will remove those.

In [19]:
merged_df = df.merge(magneto_df, left_index=True, right_index=True, how='left')

In [20]:
merged_df.dropna(inplace=True) # drop lines containing NaNs
merged_df.head()

,DATE_TIME,EDAC,cme,BX,BY,BZ,BT,XSC,YSC,ZSC,RSC
DATE_TIME,,,,,,,,,,,
2006-04-24 00:00:00,2006-04-24 00:00:00,0,0,901.170761,887.078621,886.592311,901.582144,-3076.407309,-2872.475157,-67213.437339,67351.778022
2006-04-24 01:00:00,2006-04-24 01:00:00,0,0,122.866044,107.284161,109.654450,123.584061,-56.789406,-2147.243992,-70446.888658,70485.459712
2006-04-24 02:00:00,2006-04-24 02:00:00,0,0,230.881530,218.765052,216.810378,234.327848,2966.294489,-1402.796963,-72831.017578,72910.164160
2006-04-24 03:00:00,2006-04-24 03:00:00,0,0,451.576201,437.057761,440.662270,455.704559,5959.518042,-649.828442,-74422.302150,74668.263456
2006-04-24 04:00:00,2006-04-24 04:00:00,0,0,560.491882,547.190941,554.806417,566.054039,8894.553522,103.003431,-75259.615454,75788.153991

To train many models, it is easier to deal with numerical values. We will transform `DATE_TIME` into `delta_hour`.

In [25]:
merged_df['delta_hour'] = merged_df['DATE_TIME'].diff().dt.total_seconds() / 3600.0
merged_df.dropna(inplace=True) # the first line will have a NaN delta_hour, so we drop it

In [27]:
merged_df.drop('DATE_TIME', axis=1, inplace=True)
merged_df.head()

,EDAC,cme,BX,BY,BZ,BT,XSC,YSC,ZSC,RSC,delta_hour
DATE_TIME,,,,,,,,,,,
2006-04-24 01:00:00,0,0,122.866044,107.284161,109.654450,123.584061,-56.789406,-2147.243992,-70446.888658,70485.459712,1.0
2006-04-24 02:00:00,0,0,230.881530,218.765052,216.810378,234.327848,2966.294489,-1402.796963,-72831.017578,72910.164160,1.0
2006-04-24 03:00:00,0,0,451.576201,437.057761,440.662270,455.704559,5959.518042,-649.828442,-74422.302150,74668.263456,1.0
2006-04-24 04:00:00,0,0,560.491882,547.190941,554.806417,566.054039,8894.553522,103.003431,-75259.615454,75788.153991,1.0
2006-04-24 05:00:00,0,0,559.931163,548.472083,553.628791,565.035313,11745.428441,848.228357,-75367.957113,76286.992071,1.0

We save this data in a second csv that we will use to train the same models.

This will allow to assess the performance of our predictor: we will see how much gap in performance we have if we predict CME events based on only EDAC data compared to predicting it using both EDAC and magneto data

In [22]:
merged_df.to_csv(train_file_path+'VEX_edac_mag_labeled.csv', index=False)